<style>
    .header_right_icon {
        color: white;
        padding: 10px;
        height:30px;
        width:30px;
    }
</style>
<span style=" text-decoration-color:white">
    <a href="@Html.Action("allListProduct","Product")">
        <img class="header_right_icon" src="https://cdn-icons-png.flaticon.com/512/9244/9244232.png" />
    </a>
</span>