@{
    ViewBag.Title = "TakeCare";
    Layout = "~/Views/Shared/_ProductTydeLayout.cshtml";
}
<div style="padding:20px; margin-top:60px">
    @*Youtube dautrang*@
    <iframe width="100%" height="450px" src="https://www.youtube.com/embed/jwmS1gc9S5A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    @*div animation*@
    <div class="hight-light-area">
        <ul class="newlist-hl">
            <li class="first-one">
                <a href="https://thuthuatmac.com/tin-tuc/tinh-nang-va-thay-doi-macos-ventura/">
                    <div class="warpper-thumb-title">
                        <img src="https://thuthuatmac.com/wp-content/uploads/2022/08/macbook-air-hay-macbook-pro-1-1536x864.png"
                             alt="Những tính năng và thay đổi thú vị trên macOS Ventura mà bạn chưa biết">
                        <h3 class="title">Những tính năng và thay đổi thú vị trên macOS Ventura mà bạn chưa biết</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://thuthuatmac.com/thu-thuat/cap-nhat-phan-mem-apple-studio-display/">
                    <div class="warpper-thumb-title">
                        <img style="height:219px" src="https://thuthuatmac.com/wp-content/uploads/2022/05/Studio-Display-setup-800x500.jpeg"
                             alt="Cách cập nhật phần mềm cho Apple Studio Display">
                        <h3 class="title">Cách cập nhật phần mềm cho Apple Studio Display</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.thegioididong.com/tin-tuc/10-meo-giup-ban-su-dung-may-tinh-1248444">
                    <div class="warpper-thumb-title">
                        <img style="height:215px" src="https://cdn.tgdd.vn/Files/2020/04/11/1248444/dai-dien-2_1280x720-800-resize.jpg"
                             alt="Bật mí 10 mẹo sử dụng giúp máy tính của bạn hoạt động hiệu quả hơn gấp nhiều lần">
                        <h3 class="title">Bật mí 10 mẹo sử dụng giúp máy tính của bạn hoạt động hiệu quả hơn gấp nhiều lần</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    @*Cau hoi*@
    <div class="question d-flex">
        <ul class="queslist newsest" style="margin-right:10px">
            <li>
                <a href="https://thuthuatmac.com/thu-thuat/cach-cai-dat-macos-ventura-beta/">
                    <div class="tempvideo">
                        <img src="https://thuthuatmac.com/wp-content/uploads/2021/07/tai-macos-ventura-beta-1600x1000.jpeg"
                             alt="Cách cài đặt macOS Ventura beta">
                    </div>
                    <h3 class="titlecom">Cách cài đặt macOS Ventura beta</h3>
                </a>
            </li>
            <li>
                <a href="https://thuthuatmac.com/tin-tuc/mac-va-ipad-ho-tro-universal-control/">
                    <div class="tempvideo">
                        <img src="https://thuthuatmac.com/wp-content/uploads/2022/01/universal-control-wwdc-800x500.jpeg"
                             alt="Danh sách máy Mac và iPad hỗ trợ Universal Control">
                    </div>
                    <h3 class="titlecom">Danh sách máy Mac và iPad hỗ trợ Universal Control</h3>
                </a>
            </li>
            <li>
                <a href="https://thuthuatmac.com/tin-tuc/sac-nhanh-macbook-pro-14-inch-va-16-inch/">
                    <div class="tempvideo">
                        <img src="https://thuthuatmac.com/wp-content/uploads/2021/10/sac-nhanh-tren-macbook-pro-moi-1600x1000.jpg.webp"
                             alt="Chi tiết về cách sạc nhanh MacBook Pro 14-inch và 16-inch">
                    </div>
                    <h3 class="titlecom">Chi tiết về cách sạc nhanh MacBook Pro 14-inch và 16-inch</h3>
                </a>
            </li>
            <li>
                <a href="https://www.thegioididong.com/hoi-dap/ly-do-nen-so-huu-ngay-chiec-laptop-asus-vivobook-1487635">
                    <div class="tempvideo">
                        <img src="https://cdn.tgdd.vn//News/1487635//ly-do-nen-so-huu-ngay-chiec-laptop-asus-vivobook(3)-800x450.jpg"
                             alt="Lý do nên sở hữu ngay chiếc Laptop Asus Vivobook Pro 15 K6502Z i5">
                    </div>
                    <h3 class="titlecom">Lý do nên sở hữu ngay chiếc Laptop Asus Vivobook Pro 15 K6502Z i5</h3>
                </a>
            </li>
            <li>
                <a href="https://www.thegioididong.com/hoi-dap/co-nen-mua-laptop-dell-inspiron-15-3520-chi-tiet-1485863">
                    <div class="tempvideo">
                        <img src="https://cdn.tgdd.vn//News/1485863//co-nen-mua-laptop-dell-inspiron-15-3520-chi-tiet-2-800x450.jpg"
                             alt="Có nên mua Laptop Dell Inspiron 15 3520? Chi tiết cấu hình, hiệu năng">
                    </div>
                    <h3 class="titlecom">Có nên mua Laptop Dell Inspiron 15 3520? Chi tiết cấu hình, hiệu năng</h3>
                </a>
            </li>
            <li>
                <a href="https://www.thegioididong.com/hoi-dap/cong-nghe-loc-anh-sang-xanh-blue-light-filter-cua-1395912">
                    <div class="tempvideo">
                        <img src="https://cdn.tgdd.vn/hoi-dap/1395912/Thumbnail/blue-light-filter-c%E1%BB%A7a-viewsonic.jpg"
                             alt="Công nghệ lọc ánh sáng xanh Blue Light Filter của ViewSonic">
                    </div>
                    <h3 class="titlecom">Công nghệ lọc ánh sáng xanh Blue Light Filter của ViewSonic</h3>
                </a>
            </li>
        </ul>
        <ul class="queslist newsest">
            <li>
                <a href="https://thuthuatmac.com/thu-thuat/buoc-thoat-ung-dung-bi-treo-mac/">
                    <div class="tempvideo">
                        <img src="https://thuthuatmac.com/wp-content/uploads/2022/04/MacBook-Pro-2021-SharePlay-Feature-800x500.jpeg"
                             alt="Cách buộc thoát ứng dụng bị treo trên Mac">
                    </div>
                    <h3 class="titlecom">Cách buộc thoát ứng dụng bị treo trên Mac</h3>
                </a>
            </li>
            <li>
                <a href="https://www.thegioididong.com/hoi-dap/top-10-laptop-chip-intel-the-he-12-gia-tot-chi-1480792">
                    <div class="tempvideo">
                        <img src="https://cdn.tgdd.vn//News/1480792//top-10-laptop-chip-intel-the-he-12-gia-tot-chi-03-800x450.jpg"
                             alt="TOP 10 laptop chip Intel thế hệ 12 giá tốt chỉ dưới 20 triệu năm 2022">
                    </div>
                    <h3 class="titlecom">TOP 10 laptop chip Intel thế hệ 12 giá tốt chỉ dưới 20 triệu năm 2022</h3>
                </a>
            </li>
            <li>
                <a href="https://www.thegioididong.com/hoi-dap/top-5-laptop-lam-do-hoa-mong-nhe-cho-nguoi-thuong-xuyen-di-1377566">
                    <div class="tempvideo">
                        <img src="https://cdn.tgdd.vn//News/1377566//top-5-laptop-lam-do-hoa-mong-nhe-cho-nguoi-thuong-xuyen-di-6-800x450.jpg"
                             alt="Top 7 laptop làm đồ họa mỏng nhẹ cho người thường xuyên di chuyển">
                    </div>
                    <h3 class="titlecom">Top 7 laptop làm đồ họa mỏng nhẹ cho người thường xuyên di chuyển</h3>
                </a>
            </li>
            <li>
                <a href="https://thuthuatmac.com/thu-thuat/xoay-man-hinh-chieu-doc-macos/">
                    <div class="tempvideo">
                        <img src="https://thuthuatmac.com/wp-content/uploads/2021/09/man-hinh-doc-voi-macbook-1600x1000.jpg.webp"
                             alt="Cách xoay màn hình và sử dụng theo chiều dọc trong macOS">
                    </div>
                    <h3 class="titlecom">Cách xoay màn hình và sử dụng theo chiều dọc trong macOS</h3>
                </a>
            </li>
            <li>
                <a href="https://thuthuatmac.com/thu-thuat/chup-anh-man-hinh-macos-nang-cao/">
                    <div class="tempvideo">
                        <img src="https://thuthuatmac.com/wp-content/uploads/2021/08/chup-anh-man-hinh-macos-nang-cao-1600x1000.jpg.webp"
                             alt="Cách chụp ảnh màn hình trên Mac: Mẹo và thủ thuật từ cơ bản đến nâng cao">
                    </div>
                    <h3 class="titlecom">Cách chụp ảnh màn hình trên Mac: Mẹo và thủ thuật từ cơ bản đến nâng cao</h3>
                </a>
            </li>
            <li>
                <a href="https://thuthuatmac.com/tin-tuc/windows-11-co-chay-tren-mac-khong/">
                    <div class="tempvideo">
                        <img src="https://thuthuatmac.com/wp-content/uploads/2021/07/Windows-11-1600x1000.jpeg.webp"
                             alt="Windows 11 có chạy được trên Mac không?">
                    </div>
                    <h3 class="titlecom">Windows 11 có chạy được trên Mac không?</h3>
                </a>
            </li>
        </ul>
    </div>


</div>
@*Video*@
<div class="advertising">
    <div class="application">
        <div class="col1">
            <div class="col1__ct">
                <iframe class="col1-big" src="https://www.youtube.com/embed/YMiYLvAxoQA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="col1-simple">
                    <iframe class="spl-item" src="https://www.youtube.com/embed/q4Fun36I_AE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe class="spl-item" src="https://www.youtube.com/embed/9tobL8U7dQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe class="spl-item" src="https://www.youtube.com/embed/PpaFGMyn3o0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
