@model IEnumerable<DoAnAdmin.Models.Product>
@using DoAnAdmin.Models;
@{ QL_LaptopEntities db = new QL_LaptopEntities();}
<style>
    .sellingHome {
        margin: 50px 32px 0;
        background-image: url(https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/newyear2023/Background/dich-vu-tien-ich.png);
        background-size: 100% 100%;
        height: 420px;
    }

    .sellingHome_title {
        padding: 20px 30px 20px;
        justify-content: space-between;
    }

        .sellingHome_title h5 {
            font-size: 23px;
            color: white;
            font-weight: 600;
        }

        .sellingHome_title a {
            font-size: 18px;
            color: white;
            font-weight: 500;
            text-decoration: none;
        }

            .sellingHome_title a:hover {
                color: #ffda4b;
            }

    .sellingHome .sp {
        padding: 0px 30px !important;
    }

    .sellingHome_card {
        width: 265px !important;
        height: 300px !important;
        background-color: white !important;
        padding: 10px;
        margin-right: 23px !important;
    }

    .sellingHome_img {
        height: 175px !important;
    }

    .sellingHome_card:hover {
        box-shadow: 0 0 0 0 !important;
    }

    .sellingHome_card .card-body {
        color: black !important;
        margin-top: 10px;
        padding: 0 !important;
    }

    .sellingHome_card .home-product-item__sale-off {
        right: 20px !important;
        width: 46px !important;
    }

        .sellingHome_card .home-product-item__sale-off::after {
            border-width: 0 23px 4px !important;
        }
</style>

<div class="sellingHome">
    <div class="sellingHome_title d-flex">
        <h5>Sản phẩm bán chạy</h5>
        <a href="#">
            Xem tất cả
            <img style="width:25px;height:25px" src="https://cdn-icons-png.flaticon.com/512/6548/6548182.png" />
        </a>
    </div>

    <div class="sp">
        <div class="cards-wrapper d-flex">
            <div class="card sellingHome_card">
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">20%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
                <img class="card-img-top sellingHome_img" src="/Assets/Image/ImageProduct/lap000001.jpg" alt="...">
                <div class="card-body">

                    <h5 class="card-title">
                        Laptop Asus ZenBook UX325EA i5 1135G7/8GB/512GB/OL
                    </h5>
                    <div class="pirce_asus_home row" style="padding:0 20px">
                        <p class="card-text col-7 de_pro_p de_pro_pirce">
                            24700000₫
                        </p>
                        <p class="card-text_discout col-5 de_pro_p" style="color: #3e3e3f; text-indent: 0">24700000₫</p>
                    </div>
                </div>
            </div>
            <div class="card sellingHome_card">
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">20%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
                <img class="card-img-top sellingHome_img" src="/Assets/Image/ImageProduct/lap000001.jpg" alt="...">
                <div class="card-body">

                    <h5 class="card-title">
                        Laptop Asus ZenBook UX325EA i5 1135G7/8GB/512GB/OL
                    </h5>
                    <div class="pirce_asus_home row" style="padding:0 20px">
                        <p class="card-text col-7 de_pro_p de_pro_pirce">
                            24700000₫
                        </p>
                        <p class="card-text_discout col-5 de_pro_p" style="color: #3e3e3f; text-indent: 0">24700000₫</p>
                    </div>
                </div>
            </div>
            <div class="card sellingHome_card">
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">20%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
                <img class="card-img-top sellingHome_img" src="/Assets/Image/ImageProduct/lap000001.jpg" alt="...">
                <div class="card-body">

                    <h5 class="card-title">
                        Laptop Asus ZenBook UX325EA i5 1135G7/8GB/512GB/OL
                    </h5>
                    <div class="pirce_asus_home row" style="padding:0 20px">
                        <p class="card-text col-7 de_pro_p de_pro_pirce">
                            24700000₫
                        </p>
                        <p class="card-text_discout col-5 de_pro_p" style="color: #3e3e3f; text-indent: 0">24700000₫</p>
                    </div>
                </div>
            </div>
            <div class="card sellingHome_card">
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">20%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
                <img class="card-img-top sellingHome_img" src="/Assets/Image/ImageProduct/lap000001.jpg" alt="...">
                <div class="card-body">

                    <h5 class="card-title">
                        Laptop Asus ZenBook UX325EA i5 1135G7/8GB/512GB/OL
                    </h5>
                    <div class="pirce_asus_home row" style="padding:0 20px">
                        <p class="card-text col-7 de_pro_p de_pro_pirce">
                            24700000₫
                        </p>
                        <p class="card-text_discout col-5 de_pro_p" style="color: #3e3e3f; text-indent: 0">24700000₫</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
